<div id="custom_table">
<% if can? :create, Part %>
<p>
  <%= link_to t(:btn_add), new_part_path, :class => 'big positive right button' %>
</p>
<% end %>
<div class="align_to_center"><%= paginate @parts %></div>
<table class='default_table'>
  <tr>
    <th colspan='7'><%=t :module_parts %></th>
  </tr>
  <% if !@parts.nil? %>
  <tr>
    <th>Title</th>
    <th>Set</th>
    <th>Weight <small>(in grams)</small></th>
    <th>Price (HK$)</th>
    <th>Type</th>
    <th>Updated</th>
    <% if can? :destroy, Part %>
    <th></th>
    <% end %>
  </tr>
<% @parts.each do |part| %>
  <tr>
    <td><%= on_the_spot_edit part, :title, :callback => 'reload' %></td>
    <td><%= on_the_spot_edit part, :set, :display_text => display_current(part.set), :callback => 'reload' %></td>
    <td><%= on_the_spot_edit part, :weight, :callback => 'reload' %></td>
    <td><%= display_current(part.price) %></td>
    <td><%= on_the_spot_edit part, :part_type_id, :type => :select, :data => @part_types.collect { |p| [p.id, show_dashes_for_none(p.title) ] }, :callback => 'reload' %></td>
    <td><%= part.updated_at.strftime('%Y-%B-%d %H:%M') %></td>
    <% if can? :destroy, Part %>
    <td><%= link_to 'Destroy', part, :confirm => 'Are you sure?', :method => :delete, :class => 'negative pill button' %></td>
    <% end %>
  </tr>
<% end %>
<% else %>
  <tr>
    <td><%=t :no_parts_found %><%= link_to t(:start_adding), new_part_path %></td>
  </tr>
<% end %>
</table>
</div>

<div class="align_to_center"><%= paginate @parts %></div>

