<h1>Listing Users</h1>

<p><%= link_to "New User", new_user_path %></p>

<%= paginate @users %>

<table class="default_table">
<tr>
  <th>Name</th>
  <th>E-mail</th>
  <th>Registed</th>
  <th>Updated</th>
</tr>
<% @users.each do |user| %>
<tr>
  <td><%= link_to user.name, user_path(user) %></td>
  <td><a href="mailto: <%=user.email %>"><%= user.email %></a></td>
  <td><%= user.created_at.strftime("%Y-%B-%d %H:%M") %></td>
  <td><%= user.updated_at.strftime('%Y-%B-%d %H:%M') %></td>
</tr>
<% end %>
</table>

<%= paginate @users %>