<h1>Listing Users</h1>

<% if can? :create, User %>
<p><%= link_to "New User", new_user_path, :class => 'positive pill button' %></p>
<% end %>

<%= paginate @users %>

<table class="default_table">
<tr>
  <th>Name</th>
  <th>E-mail</th>
  <th>Registed</th>
  <th>Updated</th>
  <th>Last seen at</th>
  <th>Group</th>
  <% if can? :destroy, User %>
    <th></td>
  <% end %>
</tr>
<% @users.each do |user| %>
  <% unless user.role == 'admin' %>
    <tr>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><a href="mailto: <%=user.email %>"><%= user.email %></a></td>
      <td><%= user.created_at.strftime("%Y-%B-%d %H:%M") %></td>
      <td><%= user.updated_at.strftime('%Y-%B-%d %H:%M') %></td>
      <td><%= !user.last_sign_in_at.blank? ? user.last_sign_in_at.strftime('%Y-%B-%d %H:%M:%S') : "--"  %></td>
      <td><%= user.role.capitalize %></td>
      <% if can? :destroy, User %>
        <td><%= link_to "Delete", user_path(user), :method => :delete, :confirm => "Are you sure?", :class => 'negative button pill' %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>
</table>

<%= paginate @users %>