<div id="sidebar">

  <div id="member_area">

  <h4>Members:</h4>

  <% if user_signed_in? %>
    <p>Welcome <b><%= current_user.name %></b><br />
    <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class => 'pill button negative' %></p>
  <% else %>
    <%= render "devise/sessions/new_from_home" %>

  <% end %>

  </div>

  <% if user_signed_in? %>
  <div id="tasks">
    <h4><%=t :what_do_you_want_to_do %></h4>
    <ul>
      <li><%= link_to t(:manage_part_types), part_types_path %></li>
      <li><%= link_to t(:manage_parts), parts_path %></li>
      <li><%= link_to t(:manage_items_types), item_types_path %></li>
      <li><%= link_to t(:manage_items), items_path %></li>
      <li><%= link_to t(:manage_customers), customers_path %></li>
      <% if can? :read, User %>
      <li><%= link_to t(:manage_users), users_path %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  
</div>

<div class='welcome_msg'>
  <h1><%=t :welcome_to_kt_jewellery %></h1>
</div>

