<h1>Listing customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Person in charge name</th>
    <th>Person in charge position</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Email</th>
    <th>Address</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.person_in_charge_name %></td>
    <td><%= customer.person_in_charge_position %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.fax %></td>
    <td><%= customer.email %></td>
    <td><%= customer.address %></td>
    <td><%= customer.notes %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
