<h1>Listing customers</h1>

<p>
  <%= link_to 'New Customer', new_customer_path, :class => 'pill button positive' %>
</p>

<table class="default_table">
  <tr>
    <th>Name</th>
    <th>Person in charge name</th>
    <th>Position of person in charge</th>
    <th>Phone</th>
    <th>Fax</th>
    <th>Email</th>
    <th>Address</th>
    <th>Notes</th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= link_to customer.name, edit_customer_path(customer) %></td>
    <td><%= customer.person_in_charge_name %></td>
    <td><%= customer.person_in_charge_position %></td>
    <td><%= customer.phone %></td>
    <td><%= customer.fax %></td>
    <td><%= customer.email %></td>
    <td><%= customer.address %></td>
    <td><%= customer.notes %></td>
    <td><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

