<div class='show_data'>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Person in charge name:</b>
  <%= @customer.person_in_charge_name %>
</p>

<p>
  <b>Person in charge position:</b>
  <%= @customer.person_in_charge_position %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @customer.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Notes:</b>
  <%= @customer.notes %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>

</div>
