<div class='show_data'>

<p>
<%= link_to t(:btn_back_to_customers), customers_path, :class => 'left primary middle button' %><% if can? :edit, @customer %><%= link_to t(:btn_edit), edit_customer_path(@customer), :class => 'middle primary button' %><% end %><% if can? :destroy, @customer %><%= link_to t(:btn_destroy), customer_path(@customer), :method => :destroy, :confirm => "Are you sure?", :class => "right button" %><% end %>
</p>


<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Person in charge name:</b>
  <%= @customer.person_in_charge_name %>
</p>

<p>
  <b>Person in charge position:</b>
  <%= @customer.person_in_charge_position %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @customer.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Notes:</b>
  <%= @customer.notes %>
</p>

</div>
