<%= form_for @item, :html => {:multipart => true} do |f| %>
  
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    
  <div class='custom_table' id="item_essentials">
    <table class='default_table'>
      <tr>
        <th><%= f.label :title %></th>
        <th><%= f.label :item_type_id %></th>
        <th><%= f.label :labour_cost %></th>
      </tr>
      <tr>
        <td><%= f.text_field :title, :size => 50 %></td>
        <td><%= f.select :item_type_id, @item_types.collect { |p| [ p.title, p.id ]} %></td>
        <td><%= f.text_field :labour_cost, :size => 12, :class => 'labour_cost' %></td>
      </tr>
    </table>
  </div>
  
  <fieldset>
  <legend>Parts</legend>
  <div class="custom_table">
    <table class="default_table" id="parts_table">
    <tr class='attributes'>
      <th>Name</th>
      <th>Unit Price</th>
      <th class="align_to_center">Quantity</th>
      <th>Amount</th>
    </tr>
    <%= f.fields_for :item_parts do |parts_form| %>
      <%= render "item_part_fields", :f => parts_form %>
    <% end %>
    <tr>
      <td colspan="2">
        <div id="upload">
          <label><%= t :label_picture %>:</label><br />
          <%= image_tag(@item.photo_url(:thumb)) if @item.photo? %>
          <%= image_tag(@item.photo_url(:default)) if @item.photo? %>
          <%= f.file_field :photo %>
          <%= f.hidden_field :photo_cache %>
          <br />
          <label>
            <%= f.check_box :remove_photo %>
            <%= t :label_remove_picture %>
          </label>
          <br />
          <small>(<%= t :explanation_to_remove_picture %>)</small>
        </div>
      </td>
      <td colspan="2">
        <table>
        <tr class="align_to_center">
          <td>Labour cost:</td>
          <td class='labour_cost'>00</td>
        </tr>
        <tr>
          <td><%= f.label :price %>:</td>
          <td class='total'><%= f.text_field :price , :readonly => true , :size => 12%></td>
        </tr>
        <tr>
          <td colspan="2"><a href="#" id="recalc" class="pill button"><%= t :btn_update_values %></a></td>
        </tr>
        </table>
      </td>
    </table>
    <div class="align_to_center"><%= link_to_add_fields t(:btn_add_new_part), f, :item_parts, :class => 'pill button add_child big' %></div>
    </fieldset>


    <p class="align_to_right"><%= button_for t(:btn_save_item), :class => 'big positive pill button primary', :button_type => 'submit' %></p>
  </div>
  
  

<% end %>