<%= form_for(@item) do |f| %>
  
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    
  <div class='custom_table' id="item_essentials">
    <table class='default_table'>
      <tr>
        <th><%= f.label :title %></th>
        <th><%= f.label :item_type_id %></th>
        <th><%= f.label :labour_cost %></th>
      </tr>
      <tr>
        <td><%= f.text_field :title, :size => 50 %></td>
        <td><%= f.select :item_type_id, @item_types.collect { |p| [ p.title, p.id ]} %></td>
        <td><%= f.text_field :labour_cost, :size => 12, :class => 'labour_cost' %></td>
      </tr>
    </table>
  </div>
  
  <fieldset>
  <legend>Parts</legend>
  <div class="custom_table">
    <table class="default_table" id="parts_table">
    <tr class='attributes'>
      <th>Name</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Amount</th>
    </tr>
    <%= f.fields_for :item_parts do |parts_form| %>
      <%= render "item_part_fields", :f => parts_form %>
    <% end %>
    <tr>
      <td colspan="2">&nbsp;</td>
      <td colspan="2">
        <table>
        <tr>
          <td>Labour cost</td>
          <td class='labour_cost'>0</td>
        </tr>
        <tr>
          <td><%= f.label :price %></td>
          <td class='total'><%= f.text_field :price , :readonly => true , :size => 12%></td>
        </tr>
        <tr>
          <td colspan="2"><a href="#" id="recalc" class="pill button">Update values</a></td>
        </tr>
        </table>
      </td>
    </table>
    <div class="align_to_center"><%= link_to_add_fields "+ Add a new part to this item", f, :item_parts, :class => 'pill button add_child' %></div>
    </fieldset>


    <p class="align_to_right"><%= button_for "Save Item", :class => 'big positive pill button', :button_type => 'submit' %></p>
  </div>
  
  

<% end %>