<table class='default_table'>
  <tr><th colspan='5'>Module: Parts Type</th></tr>
  <tr>
    <th>Title + Wastage</th>
    <th>Quotation</th>
    <th>Updated</th>
    <th></th>
  </tr>

<% @part_types.each do |part_type| %>
  <tr>
    <td><%= on_the_spot_edit part_type, :title %></td>
    <td><%= on_the_spot_edit part_type, :quotation %></td>
    <td><%= part_type.updated_at.strftime('%Y-%B-%d %H:%M') %></td>
    <td><%= link_to 'Destroy', part_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>



<%= form_for(:part_type, @part_type, :url => { :action => "create" } ) do |f| %>
  <tr>
    <td><%= f.text_field :title %></td>
    <td><%= f.text_field :quotation %></td>
    <td>-</td>
    <td><%= f.submit "Create" %></td>
  </tr>
<% end %>

</table>


