<table class='default_table'>
  <tr><th colspan='5'><%=t :module_parts_type %></th></tr>
  <tr>
    <th><%=t :title_plus_wastage %></th>
    <th><%=t :quotation %></th>
    <th><%=t :updated %></th>
    <th></th>
  </tr>

<% @part_types.each do |part_type| %>
  <tr>
    <td><%= on_the_spot_edit part_type, :title %></td>
    <td><%= on_the_spot_edit part_type, :quotation, :display_text => display_current(part_type.quotation), :callback => 'sayhi' %></td>
    <td><%= part_type.updated_at.strftime('%Y-%B-%d %H:%M') %></td>
    <td><%= link_to t(:destroy), part_type, :confirm => t(:destroy_confirmation_message), :method => :delete %></td>
  </tr>
<% end %>



<%= form_for(:part_type, @part_type, :url => { :action => "create" } ) do |f| %>
  <tr>
    <td><%= f.text_field :title %></td>
    <td><%= f.text_field :quotation %></td>
    <td>-</td>
    <td><%= f.submit t(:btn_create) %></td>
  </tr>
<% end %>

</table>