<div class="align_to_center"><%= paginate @part_types %></div>
<div id="custom_table">
<table class='default_table'>
  <tr><th colspan='5'><%=t :module_parts_type %></th></tr>
  <tr>
    <th><%=t :title_plus_wastage %></th>
    <th><%=t :quotation %></th>
    <th><%=t :updated %></th>
    <th></th>
  </tr>

<% @part_types.each do |part_type| %>
  <tr>
    <td><%= on_the_spot_edit part_type, :title %></td>
    <td><%= on_the_spot_edit part_type, :quotation, :display_text => display_current(part_type.quotation), :callback => 'reload' %></td>
    <td><%= part_type.updated_at.strftime('%Y-%B-%d %H:%M') %></td>
    <% if can? :destroy, PartType %>
    <td><%= link_to t(:destroy), part_type, :confirm => t(:destroy_confirmation_message), :method => :delete, :class => 'negative pill button' %></td>
    <% else %>
    <td></td>
    <% end %>
  </tr>
<% end %>


<% if can? :create, PartType %>
<%= form_for(:part_type, @part_type, :url => { :action => "create" } ) do |f| %>
  <tr>
    <td><%= f.text_field :title %></td>
    <td><%= f.text_field :quotation %></td>
    <td>-</td>
    <td><%= button_for t(:btn_create), :class => 'positive pill button', :button_type => 'submit' %></td>
  </tr>
<% end %>
<% end %>

</table>
</div>
<div class="align_to_center"><%= paginate @part_types %></div>