<p id="notice"><%= notice %></p>

<h1><%= @part_type.title %></h1>

<h2>Currently Quotation: <span class='current_quotation'><%= @part_type.quotation.to_s + "HK$" %></span></h2>


<%= link_to 'Edit', edit_part_type_path(@part_type) %> |
<%= link_to 'Back', part_types_path %>
