<!DOCTYPE html>
<html>
<head>
	<title>Jewellery</title>
	<%= stylesheet_link_tag 'blueprint/screen.css', :media => 'screen' %>
	<%= stylesheet_link_tag 'blueprint/print.css', :media => 'print' %>
	<%= stylesheet_link_tag :all, :cache => true %>
	<%= javascript_include_tag :all, :cache => true%>
	<%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
